/*starting in good one default*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

.flex-container {
    display: flex;
    background-color: #2f4f4f;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 665px;
}

.user-logo {
    display: flex;
}

.form{
    width: 30%;
}

.form__button{
    border-radius: 0;
}

.form__input{
    width: 90%;
    padding: 7px;
    margin: 7px;
    background: transparent;
    border-radius: 0%;
    border: none;
    border-bottom: 1px solid rgb(181, 184, 6);
    color: #fff;
}

.form__input:focus{
    background: none;
    outline: none   ;
   
}

.user-logo img{
    margin: auto;
    width: 200px;
}

.form__input[type="submit"]{
    background: #0a5;
    width: 95%;
    border-bottom: none;
}


.form__input[type="submit"]:hover{
    background: #072;
    width: 95%;
    border-bottom: none;
}

